<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{ user.username }}" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{ user.email }}" required>
    
    <input type="text" name="full-name" placeholder="f name">

    <input type="text" name="last-name" placeholder="l name">

    <input type="text" name="address" placeholder="adress">

    <input type="text" name="zipcode" placeholder="zip code">

    <input type="text" name="homeno" placeholder="home no">

    <button type="submit">Save Changes</button>
</form>