<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body dir="rtl">


    <!--navbar start-->


    <nav class="navbar">
        <div class="logo">من البيت</div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-list">
            <li><a href="#">الرئيسية</a></li>
            <li><a href="#">عن الموقع</a></li>
            <li><a href="#">الخدمات</a></li>
            <li><a href="#">التواصل</a></li>
            <li><a href="#">السلة (0)</a></li>
            <li class="uniqe"><a href="#">دخول</a></li>

        </ul>
    </nav>
    <!--navbar ending-->
      
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}


    <div class="signup-form">
        <div class="container">
            <div class="form-handler">
                <h2> تسجيل الدخول</h2>
                <form method="post">
                  {% csrf_token %}
                  {{ form }}
              
                  <input type="submit" value="دخول">
              
              </form>
            </div>
        </div>
    </div>



    <!--footer -->

    <div class="footer">
        <div class="container">

            <div class="footer-title">
                <h2>من البيـت</h2>
            </div>
            <div class="footer-links">
                <a href="#">عننا ؟ </a>
                <a href="#">سياسة الخصوصية</a>
                <a href="#">الشروط والأحكام</a>
                <a href="#">تواصل معنا</a>
                <a href="#">الرئيسية</a>
            </div>
            <small>جميع الحقوق محفوظة 2024</small><br>
            <small>Developed By : A h m d   B a b i k e r</small>
        </div>
    </div>
<!--footer -->