<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaccancies | Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Markazi+Text:wght@400..700&display=swap" rel="stylesheet">


</head>
<body dir="rtl" style="background-color: #F9F9FB;">

    
    <!--navbar section-->

    <header id="nav-menu" aria-label="navigation bar">
        <div class="container">
          <div class="nav-start">
            <a class="logo" href="/">
                <h1>وظـــيفة | Wazzifa</h1>
            </a>
            <nav class="menu">
              <ul class="menu-bar">
                <li>
                  <button class="nav-link dropdown-btn" data-dropdown="dropdown1" aria-haspopup="true" aria-expanded="false" aria-label="browse">
                    الرئيـسية
                    <i class="bx bx-chevron-down" aria-hidden="true"></i>
                  </button>
    
                </li>
                <li><a class="nav-link" href="{% url 'advertisement' %}"> طلب إعلان</a></li>

                <li><a class="nav-link" href="#">السيـرة الذاتية</a></li>
                <li><a class="nav-link" href="#">تواصل معـنا</a></li>
              </ul>
            </nav>
          </div>
      
          <div class="nav-end">
            <button id="hamburger" aria-label="hamburger" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
          </div>
        </div>
      </header>

       <!--navbar section-->    




    <div class="adviecs">
        <div class="ad-container">
            <div class="taking-advices">
              
                <form method="POST">
                    <h2>طلـب إعلان</h2>
                    {% csrf_token %}
                    <input type="text" placeholder="الإسم كاملا" name="name"><br>
                    <input type="email" name="email" placeholder="someone@gmail.com"><br>
                    <input type="number" name="number" placeholder="رقم تواصل واتس اب"><br>
                    <textarea placeholder="إكتب تفاصيل إعلانك هنا.." name="message"></textarea><br>
                    <input type="submit" value="تقديـم الطلب" class="submitt">
                </form>
                {% for m in messages %}
                <small>{{m}}</small>
                {% endfor %}
            </div>
        </div>
    </div>


















    <!--footer -->

        <!--footer start-->
        <div class="footer">
          <!--<div class="container">-->
              <div class="taking-footer">
                 
                  <div class="taking-links">
                      <a href="#">سياسة الخصوصية</a>
                      <a href="#">تواصل معنـا </a>
                      <a href="#">الشروط والأحكام </a>
                      <a href="#"> الرئيـسية</a>
                  </div>
                  <div class="log">
                    <h1>وظـــيفة | Wazzifa</h1>
                    <small>All Rights Reserved 2024<i class="fa-regular fa-copyright"></i></small>
                    <br><small>Developed by Ahmd Babiker</small>
                </div>
              </div>
        
      </div>
  <!--footer end-->
  <!--footer -->

      


  




    <!--js -->
    <script src="{% static 'js/script.js' %}"></script>
    <!-- js-->
</body>
</html>